/* General Styles */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1e2125;
    color: #ffffff;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

/* Header Styles */

header {
    background-color: #191414;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text {
    margin: 0;
    color: #ffffff;
    font-size: 24px;
}

.header-links {
    display: flex;
    align-items: center;
}

.header-link {
    color: #ffffff;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
}

/* Main Styles */

main {
    padding: 20px;
}

.main-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: #333333;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #cccccc;
}

.submit-button {
    background-color: #1db954;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

/* Recommended Songs Styles */

#recommended-songs {
    margin-top: 20px;
}

h2 {
    font-size: 24px;
    margin: 0;
}

/* Footer Styles */

footer {
    background-color: #191414;
    padding: 20px;
    text-align: center;
}

.footer-links {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.footer-link {
    color: #b3b3b3;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
}

.footer-text {
    color: #b3b3b3;
    font-size: 14px;
    margin: 0;
}

