h1 {
  text-align: center;
}

div {
  width: 500px;
  margin: 0 auto;
}

p {
  margin-bottom: 10px;
}

input {
  text-align: center;
  width: 50%;
  background-color: skyblue;
  border: none;
  padding: 10px;
  font-size: 18px;
  border-radius: 8px;
  margin: 0 auto;
}

button {
  width: 100px;
  background-color: #000088;
  color: white;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

div#container {
  width: 500px;
  margin: 0 auto; /* Center the container horizontally */
  text-align: center;
}

#weather {
  background-image: url(https://images.unsplash.com/photo-1601297183305-6df142704ea2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2xlYXIlMjBza3l8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
  height: 100px;
  width: 100%;
  margin-top: 20px;
}
i.fa-search {
  float: left;
  margin-right: 10px;
}

