h1 {
  text-align: center;
}

div {
  width: 500px;
  margin: 0 auto;
}

p {
  margin-bottom: 10px;
}
input {
  text-align: center;
  width: 50%;
  background-color: skyblue;
  border: none;
  padding: 10px;
  font-size: 18px;
  border-radius: 8px;
  margin: 0 auto;
}

button {
  width: 100px;
  background-color: #000088;
  color: white;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

