<!DOCTYPE html>
<html>
<head>
    <title>Music Recommender</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <header>
        <h1 style="color:white">Music Recommender</h1>
        <a href="#">Login</a>
        <a href="#">About</a>
    </header>
    <main>
        <form id="liked-songs-form">
            <label for="liked-songs">Liked Songs:</label>
            <input type="text" id="liked-songs" name="liked-songs" placeholder="Enter song names">
            <button type="submit">Submit</button>
        </form>

        <div id="recommended-songs">
            <h2>Recommended Songs</h2>
            <ul>
                <li>
                    <div class="song">
                        <img src="https://i.imgur.com/000000.jpg" class="cover">
                        <div class="title">Song Title</div>
                        <div class="artist">Artist Name</div>
                    </div>
                </li>
                <li>
                    <div class="song">
                        <img src="https://i.imgur.com/111111.jpg" class="cover">
                        <div class="title">Song Title</div>
                        <div class="artist">Artist Name</div>
                    </div>
                </li>
                <li>
                    <div class="song">
                        <img src="https://i.imgur.com/222222.jpg" class="cover">
                        <div class="title">Song Title</div>
                        <div class="artist">Artist Name</div>
                    </div>
                </li>
            </ul>
        </div>
    </main>
    <footer>
        <a href="#">Login</a>
        <a href="#">About</a>
        <p>Copyright &copy; 2023 Nyaruwata Stewart</p>
    </footer>
</body>
</html>


