<!DOCTYPE html>
<html>
<head>
    <title>Music Recommender</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <header>
        <div class="header-container">
            <h1 class="header-text">Music Recommender</h1>
            <nav>
                <a href="#" class="header-link">Login</a>
                <a href="#" class="header-link">About</a>
            </nav>
        </div>
    </header>
    <main>
        <div class="main-container">
            <form id="liked-songs-form">
                <label for="liked-songs">Liked Songs:</label>
                <input type="text" id="liked-songs" name="liked-songs" placeholder="Enter song names">
                <button type="submit" class="submit-button">Submit</button>
            </form>

            <div id="recommended-songs">
                <h2>Recommended Songs</h2>
                <ul id="recommended-songs-list"></ul>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-container">
            <nav>
                <a href="#" class="footer-link">Login</a>
                <a href="#" class="footer-link">About</a>
            </nav>
            <p class="footer-text">© 2023 Nyaruwata Stewart</p>
        </div>
    </footer>

    <script src="script.js"></script>
</body>
</html>

